*{margin: 0;padding: 0;}
*::before,*::after{box-sizing: border-box;}
*{transition: all .3s;}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.code-wrapper{
    flex: 1;
    height: 50%;
}
.preview-wrapper{
    flex: 1;
    height: 50%;
}
#code{
    overflow: hidden;
    height: 100%;
}
.actions{
    position: absolute;
    display:flex;
    right: 0;
    top: 0;
    flex-direction: column;
}
.actions>button{
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
}
.actions>button.active{
    background: #888;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}